@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap'); /* Table of Contents*/

/*-------------------------------1. Global styles ---------------------------*/
* {
    margin: 0; /*zorgt ervoor dat er geen marin op de standaard*/
    box-sizing: border-box; /*dit zorgt ervoor content-padding-border bij elkaar wordt berekend */
}

/*-------------------------------2. Typography ---------------------------*/
h1, h2, h3 {
    font-family: Merriweather, sans-serif;
}

body {
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
}


/*-------------------------------3. Layout ---------------------------*/
/* --------------- 3.1 Reusables ----------------------- */
/* --------------- 3.2 Other --------------------------- */

/*-------------------------------4. Areas ---------------------------je kan zelf beslissen hoe je de areas indeelt en deze areas kan je naam toewijzen*/
/*---------------------- 4.1 Navbar ---------------------------*/

.navbar-links {
    background-color: #5722CD;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-content: flex-end;
    top: 0;
    position: relative;
    padding: 15px;
}

li {
    display: inline;
    row-gap: 15px;
}

.navbar-links a {
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    padding: 20px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}


/*---------------------- 4.2 Header ---------------------------*/

header {
    background-color: #5722CD;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: white;

}

.content-container {
    padding: 50px; /*gebruik hier geen vast hoogte, als je de pagina kleiner maakt glijdt de content eruit. padding is gekoppelt aan content en groeit daar automatisch aan mee*/
    justify-content: space-around;
    align-items: center;
    flex-basis: 400px; /*breedte van de container*/
    flex-shrink: 1; /*wel krimpen*/
    flex-grow: 0; /*niet groeien*/
    z-index: 1;
    max-width: 700px;
    align-self: center;
}

.content-container > h1, .content-container > p {
    padding-bottom: 22px;
}

.header-button {
    background-color: #eb4384;
    border: none;
    font-size: 10px;
    padding: 15px 10px;
    letter-spacing: 2px;
    width: 33%;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.squiggle {
    height: 100px;
    width: 90px;
    position: absolute;
    left: calc(50% - 45px); /*zo komt het vakje in het midden aangezien het vakje 90px width is*/
    bottom: -2px;
}

.line { /*voor de schuine lijn aan de header*/
    border-bottom: 12px solid white;
    border-right: 100vw solid transparent;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*---------------------- 4.3 section intro ---------------------------*/

.section-one-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.section-one-items {
    color: #5722CD;
    text-decoration-thickness: 4px;
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: Merriweather, "Roboto", sans-serif;
    max-width: 700px;

}

.section-one-item-one {
    font-size: 12px;
    align-content: space-between;
}

.section-one-item-one h2 {
    padding-bottom: 15px;
}

.section-one-item-two {
    justify-content: flex-end;
    font-family: sans-serif;
    align-content: flex-start;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
    color: black;
    font-weight: 550;
}

.section-one-item-two a {
    color: #5722CD;
    text-decoration: none;
    font-family: "Roboto", serif;
    font-weight: 600;
}

/*---------------------- 4.4 section articles ---------------------------*/


.work-section {
    background-color: #F3F6F9;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-evenly;
    margin: 0vw;
    /*min-width: 600px;*/
    /*margin: 0vw 10vw;*/
}

.work-item {
    background-color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    padding: 4vw 0vw;
    /*border: black solid 2px;*/

}

.work-item img {
    width: 50vw;
    /*max-height: 60vh;*/

}

.text-item-article {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    padding-left: 2vw;
    padding-right: 6vw;
    /*border: black solid 2px;*/
    width: 33vw;
    font-size: 1.32vw;


}

/*------------------------------tijdelijk squiggle en tekstopmaak*/
.tijdelijk {
    color: coral;
    padding-bottom: 10px;
    padding-top: 10px;
}

h4 {
    color: black;
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-size: 2vw;
    padding-bottom: 1vw;

}

.work-item-text-design {
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    padding-bottom: 15px;
    padding-top: 15px;

}


/* ------------------------------- 5. Media Queries -------------------------------- */